.header-container{
    background-color: #212121;
    width: 100%;
    height: 15vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
}
.logo{
    color: #15aed5;
    font-weight: bold;
    font-size: 25px;
    cursor: pointer;
   

}
.nav-sub-container{
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    align-items: center;
}
.avatar{
    margin-right: 10px;
}

.btn-lagout{
    background-color: #15aed5;
    padding: 10px;
    height: 35px;
    color: white;
    outline: none;
    border-radius: 8px;
    border: 0px;
    cursor: pointer;
}
.link{
    text-decoration: none;
}

@media screen and (min-width:600px){
    .logo{
        font-size: 35px;
    }
}

@media screen and (min-width:769px){
    .logo{
        font-size: 40px;
    }
    
}
